<section>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-3">
      <a href="#!/projectScroll"><div id="familyPortraits" class="project"><span class="projectTitle">Family Portraits<span></div></a>
    </div>
    <div class="col-sm-2">
      <a href="#!/projectScroll"><div  id="femalePro" class="project"><span class="projectTitle">Female Protagonist<span></div></a>
    </div>
    <div class="col-sm-2">
      <a href="#!/projectScroll"><div  id="topography" class="project"><span class="projectTitle">Topography<span></div></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-3">
      <a href="#!/projectScroll"><div id="zoo" class="project"><span class="projectTitle">Zoological<span></div></a>
    </div>
    <div class="col-sm-2">
      <a href="#!/projectScroll"><div id="whiteShow" class="project"><span class="projectTitle">The White Show<span></div></a>
    </div>
    <div  class="col-sm-2">
      <a href="#!/projectScroll"><div id="maternal" class="project"><span class="projectTitle">Maternal Instinct<span></div></a>
    </div>
  </div>
  <div  class="row">
    <div class="col-sm-2 col-sm-offset-3">
      <a href="#!/projectScroll"><div id="instant" class="project"><span class="projectTitle">Instantaneous<span></div></a>
    </div>
    <div class="col-sm-2">
      <a href="#!/"><div id="sexWith" class="project"><span class="projectTitle">Sex With Furniture<span></div></a>
    </div>
    <div class="col-sm-2">
      <a href="#!/projectScroll"><div  id="scenes" class="project"><span class="projectTitle">Scenes<span></div></a>
    </div>
  </div>
</section>
