<h2>White Show</h2>

<img class="test" src='public/assets/photos/adriennefox.photography/maternal-instinct/IMG_1634.jpg' ng-click="openModalPopup()"/>

<img class="test" src='public/assets/photos/adriennefox.photography/maternal-instinct/Julia.jpg' ng-click="openModalPopup()"/>


<!-- Original Code for angular UI Bootstrap carousel  -->
<!-- <div>
  <div style="height: 305px">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{slide.id}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
      <button type="button" class="btn btn-info" ng-click="randomize()">Randomize slides</button>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="noWrapSlides">
          Disable Slide Looping
        </label>
      </div>
    </div>
    <div class="col-md-6">
      Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
      <br />Enter a negative number or 0 to stop the interval.
    </div>
  </div>
</div> -->

<!-- <div class="modal-demo">
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <ul>
            <li ng-repeat="item in car.items">
                <a href="#" ng-click="$event.preventDefault(); car.selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ car.selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="car.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="car.cancel()">Cancel</button>
    </div>
</script> -->

<!-- <button type="button" class="btn btn-default" ng-click="$ctrl.open()">Open me!</button> -->
<!-- <button type="button" class="btn btn-default" ng-click="openModalPopup()">Modal Test</button> -->


</div>
