.carousel-indicators {
  position: inherit;
  border: 1px solid black;
  background-color: yellow;
  /*margin: 0 auto 0;*/
}
.carousel-caption {
  color: black;
  position: inherit;
  border: 1px solid black;
  position: inherit;
}
.carousel-inner {
  max-width: 80%;
  margin: 0 auto;
}
.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
}
.modal-content {
  background-color: #000;
}
.carousel-control {
  width: 10%;
}
.carousel-control:hover {
  background-color: gray;
  opacity: 0.5;
}
